:root,
[color-scheme=light] {
    --app-financial-vivo-bg: rgba(102, 0, 153, 1);
    --app-financial-vivo-color: #fff
}

[color-scheme=dark] {
    --app-financial-vivo-bg: #fff;
    --app-financial-vivo-color: rgba(102, 0, 153, 1)
}

.app-financial {
    font-size: 12px
}

.app-financial .refresh {
    float: right;
    border: 0;
    background: 0 0;
    padding: 0;
    cursor: pointer
}

.app-financial .refresh:focus {
    outline: 0;
    box-shadow: none
}

.app-financial .loading {
    -webkit-animation: rotation 2s infinite linear;
    display: none;
    background-color: #cb1f03
}

.app-financial .iconfix {
    background-color: var(--card-app-secondary-text-color)
}

.app-financial .iconfix:hover {
    background-color: #cb1f03;
    font-size: 100%
}

.app-financial .content .list {
    margin: 0;
    padding-left: 0;
    padding-bottom: 15px
}

.app-financial .content .list__row {
    color: var(--card-app-default-text-color)
}

.app-financial .content .list__row--header {
    font-weight: 700;
    border: 0;
    color: var(--card-app-secondary-text-color);
    white-space: nowrap
}

.app-financial .content .list__row .list--text {
    border: 0
}

.app-financial .content .list__row .date {
    float: right
}

.app-financial .content .list__text {
    vertical-align: middle;
    font-weight: 600
}

.app-financial .content .list__text .first,
.app-financial .content .list__text .second,
.app-financial .content .list__text.date,
.app-financial .content .list__text.price,
.app-financial .content .list__text.purchase,
.app-financial .content .list__text.sell,
.app-financial .content .list__text.value,
.app-financial .content .list__text.variation {
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    width: 70px;
    height: 13px;
    padding-left: 0
}

.app-financial .content .list__text.variation {
    width: 50px
}

.app-financial .content .list__text.nospace {
    padding-right: 0
}

.app-financial .content .list__text.positive {
    color: #4ba810
}

.app-financial .content .list__text.negative {
    color: #cb1f03
}

.app-financial .content .list__text.equal {
    color: var(--card-app-secondary-text-color)
}

.app-financial .content .list__text.icon {
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 49px;
    background-position: center left 24px
}

.app-financial .content .list__text.icon-dollar {
    background-image: image-set(url("../_img/flags/dollar.png") 1x, url("../_img/flags/dollar@2x.png") 2x)
}

.app-financial .content .list__text.icon-euro {
    background-image: image-set(url("../_img/flags/euro.png") 1x, url("../_img/flags/euro@2x.png") 2x)
}

.app-financial .content .list__text.icon-pound {
    background-image: image-set(url("../_img/flags/pound.png") 1x, url("../_img/flags/pound@2x.png") 2x)
}

.app-financial .content .list__text.icon-bovespa {
    background-image: image-set(url("../_img/flags/bovespa.png") 1x, url("../_img/flags/bovespa@2x.png") 2x)
}

.app-financial .content .list__text.icon-bitcoin {
    background-image: url(../_img/flags/bitcoin.png)
}

.app-financial .content .list__text.icon-litecoin {
    background-image: url(../_img/flags/litecoin.png)
}

.app-financial .content .list__text.icon-ethereum {
    background-image: url(../_img/flags/ethereum.png)
}

.app-financial--bt-vivopay {
    width: 60px;
    height: 24px;
    background-color: var(--app-financial-vivo-bg);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    transition: .3s
}

.app-financial--bt-vivopay:hover {
    opacity: .8
}

.app-financial--icon-vivopay {
    width: 33px;
    height: 14px;
    background-color: var(--app-financial-vivo-color);
    -webkit-mask-image: url(../_img/vivopay.svg)
}

.app-financial--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: 24px;
    background-position: center left 15px;
    background-repeat: no-repeat;
    text-align: left;
    padding: 24px 24px;
    padding-bottom: 15px;
    margin: 0
}

.app-financial--header--wrapper {
    display: flex
}

.card-app-v .app-financial--header {
    padding-top: 32px;
    padding-bottom: 19px
}

.app-financial--header .text {
    color: var(--card-app-default-text-color);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none
}

.app-financial--card .list {
    display: table;
    width: 100%;
    border-collapse: collapse
}

.app-financial--card .list__row {
    display: table-row;
    border-bottom: 1px solid var(--card-app-separator-line-color)
}

.app-financial--card .list__row:last-child {
    border: 0
}

.app-financial--card .list__row.bitcoin {
    display: none
}

.card-app-v .app-financial--card .list__row.bitcoin {
    display: table-row
}

.app-financial--card .list__text {
    display: table-cell;
    padding: 9px 5px;
    border: 0;
    width: 90px
}

.card-app-v .app-financial--card .list__text:not(.small-padding) {
    padding-top: 13.5px;
    padding-bottom: 13.5px
}

.app-financial--card .list__text:first-child {
    padding-left: 24px
}

.app-financial--card .list__text:last-child {
    padding-right: 24px
}

html[data-range=large] .app-financial.flex-1024 {
    height: 234px
}

html[data-range=large] .app-financial.flex-1024 .list__row:nth-child(n+5) {
    display: none
}

.content-flex {
    display: block;
    clear: both
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0)
    }

    to {
        -webkit-transform: rotate(359deg)
    }
}